<div class="slideshow">
  <carousel>
    <slide>
      <img src="../../../assets/picture/nature/DSC_7387.jpg" alt="két hattyú szerelme FF" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/picture/children/DSC_6262.jpg" alt="Egy 8 hónapos kis fiú Halloween háttérrel(pókháló,csontváz,halloween tök és minden ehhez hasonló tárgy)" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/picture/gyenda/DSC_7260.jpg" alt="Halloween partyn két boszorkánynak öltözött hölgy" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/picture/nature/DSC_6692.jpg" alt="Vízparton gyönyörű tükrőződő felület szép őszi fákkal" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>
